<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="/assets/imagens/{{pensamento.modelo}}.png" alt="">
    <p class="conteudo">{{pensamento.conteudo}}</p>
    <p class="autoria"><b>{{pensamento.autoria}}</b></p>
    <button routerLink="/editarPensamento/{{pensamento.id}}" class="botao-editar">
        <img src="/assets/imagens/icone-editar.png" alt="">
    </button>
    <button routerLink="/excluirPensamento/{{pensamento.id}}" class="botao-excluir">
        <img src="/assets/imagens/icone-excluir.png" alt="">
    </button>
</div>